<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Screen.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="ShopBePoly"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopBePoly"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Screen.Main_Staff"
            android:exported="false" />
        <activity
            android:name=".TimDonHang"
            android:exported="false" />
        <activity
            android:name=".VerifyCodeScreen"
            android:exported="false" />
        <activity
            android:name=".DonMua"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".Screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nav.HomeNavScreen"
            android:exported="false" />
        <activity
            android:name=".Screen.RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".Screen.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".Screen.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Screen.DanhGia"
            android:exported="false" />
        <activity
            android:name=".Screen.TimKiem"
            android:exported="false" />
        <activity
            android:name=".Screen.ThongBao"
            android:exported="false" />
        <activity
            android:name=".Screen.ChiTietSanPham"
            android:exported="false" />
        <activity
            android:name=".Screen.YeuThich"
            android:exported="false" />
        <activity
            android:name=".Gioithieu"
            android:exported="false" />
        <activity
            android:name=".Dathangthanhcong"
            android:exported="false" />
        <activity
            android:name=".ThanhToan"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chitietdonhang"
            android:exported="false" />
        <activity
            android:name=".Lichsugiaodich"
            android:exported="false" />
        <activity
            android:name=".Chitietlichsugiaodich"
            android:exported="false" />
        <activity
            android:name=".SuaThongTinCaNhan"
            android:exported="false" />
        <activity
            android:name=".ThongTinCaNhan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LienHe"
            android:exported="false" />
        <activity
            android:name=".DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".ChinhSachvaQuyenRiengTu"
            android:exported="false" />
        <activity
            android:name=".DieuKhoanvaDieuKien"
            android:exported="false" />
        <activity
            android:name=".Donhang"
            android:exported="false" />
        <activity
            android:name=".AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".DanhSachDanhGia"
            android:exported="false" />
    </application>

</manifest>